{% extends 'base.html.twig' %}

{% block body  %}
    <h1>Bonjour {{prenom}} vous avez {{age }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora doloribus consequatur voluptas magni laborum tenetur at id incidunt. Mollitia exercitationem eius delectus neque veritatis corporis id, culpa architecto hic. Ipsam a quis harum cupiditate unde saepe quasi! Officia illum nulla molestiae, cum non vero eum?</p>
{% endblock %}
